/vendor
/node_modules
.env
.DS_Store
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/public/hot
/public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env.backup
npm-debug.log
yarn-error.log
/.idea
/.vscode
/coverage
/.phpunit.cache

